body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f1fae8;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 30px solid transparent;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 20px;
}

.subtitulo {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    display: block;
}

button[type="submit"] {
    background-color: #035f2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button[type="submit"]:hover {
    background-color: #c57454;
}
